<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
    <header>
    <nav>
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/celebrities">Celebrities<Home/a>
        </li>
        <li>
          <a href="/movies">Movies<Home/a>
        </li>
      </ul>
    </nav>
    </header>
  <body>
    {{{body}}}
  </body>
</html>
